<div class="container">
  <div class="row">
    <div class="col text-left">
      <h2>Playground</h2>
    </div>
    <div class="col text-right"> <button type="button" class="btn btn-primary" (click)="resetConfig()">Reset <i class="fa fa-undo" aria-hidden="true"></i></button></div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <form id="configForm" (change)="updateConfig()">
        <ngb-accordion [closeOthers]="true" activeIds="position">
          <ngb-panel id="position">
            <ng-template ngbPanelTitle>
              Position <i class="fa fa-map-marker fa-lg float-right" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbPanelContent>
              <fieldset class="form-group">
                <div class="form-check" *ngFor="let p of positions">
                  <label class="form-check-label">
            <input type="radio" class="form-check-input" name="position" [value]="p.value" (change)="selectPosition(p.value)" [checked]="p.value === options.position">
            {{p.text}}
          </label>
                </div>
              </fieldset>
            </ng-template>
          </ngb-panel>

          <ngb-panel id="theme">
            <ng-template ngbPanelTitle>
              Theme <i class="fa fa-vcard fa-lg float-right" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbPanelContent>
              <fieldset class="form-group">
                <div class="form-check" *ngFor="let t of themes">
                  <label class="form-check-label">
            <input type="radio" class="form-check-input" name="theme" [value]="t.value" (change)="selectTheme(t.value)" [checked]="t.value === options.theme">
            {{t.text}}
          </label>
                </div>
              </fieldset>
            </ng-template>
          </ngb-panel>

          <ngb-panel id="palette">
            <ng-template ngbPanelTitle>
              Palette <i class="fa fa-photo fa-lg float-right" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbPanelContent>
              <fieldset class="container">
                <div class="row align-items-start">
                  <div class="col">
                    <div class="form-group">
                      <label for="paletteBanner">Banner Background:</label>
                      <input type="text" class="form-control" [(colorPicker)]="options.palette.popup.background" [style.background]="options.palette.popup.background"
                        name="paletteBanner" id="paletteBanner" [placeholder]="options.palette.popup.background" [cpOKButton]="true"
                        [cpOKButtonClass]="'btn btn-primary btn-xs'">
                    </div>
                    <div class="form-group">
                      <label for="paletteBanner">Banner Text:</label>
                      <input type="text" class="form-control" [(colorPicker)]="options.palette.popup.text" [style.background]="options.palette.popup.text"
                        name="paletteBannerText" id="paletteBannerText" [placeholder]="options.palette.popup.text" [cpOKButton]="true"
                        [cpOKButtonClass]="'btn btn-primary btn-xs'">
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="paletteButton">Button Background:</label>
                      <input type="text" class="form-control" [(colorPicker)]="options.palette.button.background" [style.background]="options.palette.button.background"
                        name="paletteButton" id="paletteButton" [placeholder]="options.palette.button.background" [cpOKButton]="true"
                        [cpOKButtonClass]="'btn btn-primary btn-xs'">
                    </div>
                    <div class="form-group">
                      <label for="paletteButtonText">Button Text:</label>
                      <input type="text" class="form-control" [(colorPicker)]="options.palette.button.text" [style.background]="options.palette.button.text"
                        name="paletteButtonText" id="paletteButtonText" [placeholder]="options.palette.button.text" [cpOKButton]="true"
                        [cpOKButtonClass]="'btn btn-primary btn-xs'">
                    </div>
                  </div>
                </div>
              </fieldset>
            </ng-template>
          </ngb-panel>

          <ngb-panel id="learn-more">
            <ng-template ngbPanelTitle>
                Learn more link <i class="fa fa-link fa-lg float-right" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbPanelContent>
              <fieldset class="container">
                <div class="row align-items-start">
                  <div class="col">
                    <div class="form-group">
                      <label for="href">Link to your own policy:</label>
                      <input type="text" class="form-control" [(ngModel)]="options.content.href" name="href" id="href">
                    </div>
                  </div>
                </div>
              </fieldset>
            </ng-template>
          </ngb-panel>

          <ngb-panel id="compliance">
            <ng-template ngbPanelTitle>
              Compliance <i class="fa fa-check fa-lg float-right" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbPanelContent>
              <fieldset class="form-group">
                <div class="form-check" *ngFor="let c of compliances">
                  <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="compliance" [value]="c.value" (change)="selectCompliance(c.value)" [checked]="c.value === options.type">
                      {{c.text}}
                    </label>
                </div>
              </fieldset>
            </ng-template>
          </ngb-panel>

          <ngb-panel id="custom-text">
            <ng-template ngbPanelTitle>
              Custom Text <i class="fa fa-file-text fa-lg float-right" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbPanelContent>
              <fieldset class="container">
                <div class="row align-items-start">
                  <div class="col">
                    <div class="form-group">
                      <label for="message">Message:</label>
                      <textarea class="form-control" [(ngModel)]="options.content.message" name="message" id="message"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row align-items-start">
                  <div class="col">
                    <div class="form-group">
                      <label for="dismiss">Dismiss button text:</label>
                      <input type="text" class="form-control" [(ngModel)]="options.content.dismiss" name="dismiss" id="dismiss">
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="link">Policy link text:</label>
                      <input type="text" class="form-control" [(ngModel)]="options.content.link" name="link" id="link">
                    </div>
                  </div>
                </div>
                <div class="row align-items-start">
                  <div class="col">
                    <div class="form-group">
                      <label for="deny">Deny button text:</label>
                      <input type="text" class="form-control" [(ngModel)]="options.content.deny" name="deny" id="deny">
                    </div>
                  </div>
                </div>
              </fieldset>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </form>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Options <i class="fa fa-gear fa-lg float-right" aria-hidden="true"></i>
        </div>
        <div class="card-body">
          <pre class="card-text">{{ options | json : 2 }}</pre>
          <button type="button" class="btn btn-primary" ngxClipboard [cbContent]="options | json : 2" (cbOnSuccess)="areOptionsCopied = true" [class.btn-success]= "areOptionsCopied" > {{ areOptionsCopied ? "Copied !" : "Copy  "}} <i class="fa fa-clipboard fa-lg" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
<p>
    For help and additional options see the <a href="https://cookieconsent.insites.com/documentation" target="_blank">official documentation</a>.
</p>